body {

background-image: url("../images/bwtrack.jpg");
background-size: cover;

}

.delete-button {

opacity: 0;
background-color: black;
color: #ff0000;
width: 1em;
height: 1em;
padding: 0;
font-weight: bolder;
font-size: 1em;

}

.delete-button:hover {

opacity: 1 !important;
box-shadow: 6px 6px 3px #999;

}

.delete-button:active {

    box-shadow: 3px 3px 2px #666;
    transform: translateY(2px);
    transform: translateX(2px);

  }

/* .delete-button: */

.trains:hover 

.delete-button {

opacity: .5;

}

.currTime {

font-family: 'Orbitron', sans-serif;

}

.jumbotron {

padding-top: 5px;
padding-bottom: 5px;
font-weight: bolder;
background: black;
color: gold;

}

.divider {

  background-color:  gold;

}

.card {

border-color:  black;
border-width: 5px;

}

.arrived {

background-color:  green !important;
font-weight: bold;

}

.arrived:hover {

    background-color: greenyellow !important;
    font-weight: bold;
    
    }

.soon {

background-color: #ffff00 !important;

}